[Unit]
Description=Local media server
After=network-wait-online.service

[Service]
Type=oneshot
ExecStart=$HOME/.local/bin/media-server -H neerajpi -u neeraj -r neeraj -d /run/user/1000/remote_mounts/Pegasus -s /run/media/system/Pegasus
ExecStart=$HOME/.local/bin/media-server -H neerajpi -u neeraj -r neeraj -d /run/user/1000/remote_mounts/Andromeda -s /run/media/system/Andromeda
ExecStop=$HOME/.local/bin/media-server -U -d /run/user/1000/remote_mounts/Pegasus
ExecStop=$HOME/.local/bin/media-server -U -d /run/user/1000/remote_mounts/Andromeda
RemainAfterExit=yes

[Install]
WantedBy=default.target

